[submodule "UniAD"]
	path = UniAD
	url = https://github.com/OpenDriveLab/UniAD
[submodule "WorldEngine"]
	path = WorldEngine
	url = https://github.com/OpenDriveLab/WorldEngine
[submodule "acados"]
	path = acados
	url = https://github.com/acados/acados.git
